$text: #ffffff;
$primary-text: #212121;
$secondary-text: #757575;
$divider: #bdbdbd;

$primary: #607d8b;
$light-primary: #cfd8dc;
$dark-primary: #455a64;
$accent: #795548;

$good: #4caf50;
$warn: #ff5722;
$critical: #f44336;

$bar-background: black;
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
