result*
.direnv
.vscode
.data
.sass-cache
.pre-commit-config.yaml
terraform/terraform.tfstate
terraform.tfstate.*.backup
terraform.tfstate.backup
terraform.plan
terraform/moon
.terraform.tfstate.lock.info
.terraform

*.qcow2

# nixago: ignore-linked-files
/.sops.yaml