result*
.direnv
.vscode
.history
.data
.sass-cache
.pre-commit-config.yaml
terraform.tfstate*
terraform.plan
terraform/moon
.terraform.tfstate.lock.info
.terraform
prepare-host-notice*

__pycache__

*.qcow2

# nixago: ignore-linked-files
/.sops.yaml
