result*
.direnv
.vscode
.data
secrets/terraform-outputs.plain.yaml
terraform/terraform.tfstate
terraform.tfstate.*.backup
terraform.tfstate.backup
terraform.plan
terraform/moon
.terraform.tfstate.lock.info
.terraform

# Result of bud commands
vm
iso
doi

pkgs/_sources/.shake*

*.qcow2
