* {
  padding: 0;
  margin: 0;

  font-family: monospace;
  font-size: 12px;
}

window#waybar {
  color: $text;
  background-color: $background;

  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  color: $text;
  border: none;
  border-radius: 0;
  background-image: none;

  box-shadow: inset 0 -3px transparent;

  &:hover {
    text-shadow: inherit;
    background-image: none;
    background-color: $hover;
    box-shadow: inset 0 -3px $text;
  }
}

#workspaces button {
  padding: 0 2px;

  &.active {
    box-shadow: inset 0 -3px $text;
  }

  &.urgent {
    background-color: $warn;
  }
}

#taskbar button {
  padding: 0 2px;

  &.active {
    box-shadow: inset 0 -3px $text;
  }
}

.module {
  padding: 0 10px;
}

#battery {
  &.critical:not(.charging) {
    color: $warn;
  }
}

#network {
  &.disabled {
    color: $warn;
  }
}

#pulseaudio {
  &.muted {
    color: $warn;
  }
}

#wireplumber {
  &.muted {
    color: $warn;
  }
}

#tray {
  &.passive {
    -gtk-icon-effect: dim;
  }

  &.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: $warn;
  }
}

#custom-fprintd {
  &.disabled {
    color: $warn;
  }
}

#custom-darkman {
  &.unknown {
    color: $warn;
  }
}
