$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$divider: #BDBDBD;

$primary: #607D8B;
$light-primary: #CFD8DC;
$dark-primary: #455A64;
$accent: #795548;

$good: #4CAF50;
$warn: #FF5722;
$critical: #F44336;

$box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
