@import "common";

* {
  font-family: monospace;
}

window {
  color: $text;
  background-color: $primary;

  border-radius: 10px;
}

#input {
  border: none;
  background-color: $dark-primary;
}

// #inner-box {}

// #outer-box {}

// #text {}

#entry:selected {
  background-color: $accent;
}

// #text:selected {}

// #scroll {}

// #img {}
